.hidden {
    display: none !important;
}

main, #game{
    height: 100vh;
}

.modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    padding: 2%;
    background: var(--bg-2);
}

#mode-modal h2 {
    font-size: 2.5rem;
    margin-bottom: 2vh;
}

#restart {
    padding: 2vh 4vw;
    font-size: 1.5em;
}

#game {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding: 2%;
}

#game header h1 {
    font-size: 2.8rem;
}

.game-info {
    text-align: center;
}

#game-canvas {
    max-width: 95vw;
    aspect-ratio: 1/1;
    border: 1px solid var(--text);
}

#mobile-controls {
    display: none;
}

@media (max-width: 1024px) {
    .game-interact {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    #mobile-controls {
        width: 200px;
        max-width: 60vw;
        margin: 2%;
        font-size: 2rem;
        aspect-ratio: 1/1;
        user-select: none;
        display: grid;
        grid-template-columns: 1.1fr 0.9fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px;
        grid-auto-flow: row;
        grid-template-areas:
          ". UpArrow ."
          "LeftArrow . RightArrow"
          ". DownArrow .";
      }
      .UpArrow,
      .LeftArrow,
      .DownArrow,
      .RightArrow {
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--bg-2);
        border-radius: 4px;
      }

      .UpArrow { grid-area: UpArrow; }
      .LeftArrow { grid-area: LeftArrow; }
      .DownArrow { grid-area: DownArrow; }
      .RightArrow { grid-area: RightArrow; }
}

@media (max-height: 720px) and (max-width: 1024px) {
    #game h1 {
        display: none;
    }
}